<!DOCTYPE html>
<html>
<head>
    <title>caraft Detail</title>
</head>
<body>
    <h1>caraft Detail</h1>
    <h2>{{ caraft.name }}</h2>
    <img src="{{ caraft.image.url }}" alt="caraft Image">
    <p>Price: {{ caraft.price }}</p>
    <p>Description: {{ caraft.description }}</p>
    <p>Category: {{ caraft.category.name }}</p>
    <p>Duration: {{ caraft.duration }} hours</p>

    <h3>Reviews</h3>
    {% for review in caraft.reviews_caraft.all %}
        <p>Review by {{ review.user.username }}:</p>
        <p>Rate: {{ review.rate }}/5</p>
        <p>{{ review.review }}</p>
        <p>Created at: {{ review.created_at }}</p>
        <hr>
    {% empty %}
        <p>No reviews available.</p>
    {% endfor %}
</body>
</html>